<div{{ attributes }}>

    <div class="flex-col md:flex-row justify-between flex gap-4 items-start mx-4 py-12">
        <div class="mx-auto">
            <div>
                <div class="flex bg-white rounded-lg shadow dark:bg-gray-800">
                    <div class="relative flex-none w-24 md:w-48">
                        <img src="{{ product.imgSml }}" alt="{{ product.title }}" class="absolute inset-0 object-cover w-full h-full rounded-lg">
                    </div>
                    <div class="flex-auto p-6">
                        <div class="flex flex-wrap">
                            <h1 class="flex-auto text-xl font-semibold dark:text-gray-50">{{ product.title }}</h1>
                            <div class="text-xl font-semibold text-gray-500 dark:text-gray-300">{{ product.dest }}</div>
                        </div>

{#                        <p class="text-sm text-gray-500 dark:text-gray-300">Somewhere Alister hasn't been yet!.</p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
